@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #f5f5f5;
}

header {
  height: 100px;
}

.container__header {
  height: 100px; /* Cambié esto para un valor fijo de altura, ajusta según tus necesidades */
  margin: 0 auto;
  padding: 20px; /* Reduje el padding para hacer el header más compacto */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Agregamos una sombra en la parte inferior */
}

.logo img {
  width: 180px;
}

.menu nav ul {
  display: flex;
}

.menu nav ul li {
  list-style: none;
  padding: 0px 20px;
}

.menu nav ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  transition: opacity 300ms;
}

.menu nav ul li a:hover {
  opacity: 0.6;
}

.btn__header-cerrar,
.btn__register-cover {
  padding: 14px 50px;
  border: none;
  background: #000;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background, color, 300ms;
}

.btn__header-cerrar:hover,
.btn__register-cover:hover {
  background: #69f1a1;
  color: #000;
}

#icon_menu {
  display: none;
}

/*PORTADA - COVER*/

main {
  max-width: 1200px;
  height: calc(100vh + 800px);
  padding: 40px;
  margin: auto;
}

.cover {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.text__information-cover {
  width: 50%;
}

.text__information-cover h1 {
  font-size: 50px;
}

.text__information-cover p {
  font-size: 18px;
  margin-top: 40px;
}

.buttons__cover {
  display: flex;
  margin-top: 40px;
}

.btn__readMore-cover {
  padding: 14px 40px;
  border: none;
  color: black;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  transition: background 300ms;
}

.btn__readMore-cover:hover {
  background: #e8e8e8;
}

.media__cover {
  width: 50%;
}

.media__cover video {
  width: 100%;
  margin-top: -40px;
}

/*BANNER*/

.container__banner {
  margin-top: 80px;
}

.banner {
  height: 250px;
  display: flex;
  align-items: center;
  background: #121214;
  position: relative;
}

.banner__icon-ball {
  width: 35%;
  height: 100%;
}

#icon_ball {
  width: 400px;
  margin-top: -20px;
  position: relative;
  filter: drop-shadow(-40px 0px 30px rgba(0, 0, 0, 0.5));
}

.banner__text {
  width: 60%;
  position: relative;
  padding: 40px;
}

.banner__text h2 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
}

.banner__text a {
  text-decoration: none;
  display: block;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 300ms;
}

.banner__text a:hover {
  color: #69f1a1;
}

.banner__icon-player {
  height: 100%;
  position: absolute;
  right: 10px;
  overflow: hidden;
}

#icon_player {
  width: 300px;
  position: relative;
  margin-top: -10px;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .container__header,
  main {
    padding: 20px;
  }

  #icon_menu {
    display: block;
    cursor: pointer;
    font-size: 24px;
  }

  .header__cerrar {
    display: none;
  }

  .menu {
    height: 0px;
    position: absolute;
    right: 20px;
    top: 70px;
    overflow: hidden;
    z-index: 10;
    box-shadow: 0px 0px 30px -20px rgba(0, 0, 0, 0.5);
    transition: all 300ms;
  }

  .menu nav ul {
    padding: 20px 0px;
    flex-direction: column;
    background: #fff;
  }

  .menu nav ul li {
    padding: 10px 40px;
  }

  .mostrar_menu {
    /*CLASE MANIPULADA POR JS*/
    height: 235px;
  }

  .text__information-cover h1 {
    font-size: 40px;
  }

  .text__information-cover p {
    font-size: 16px;
  }

  .banner__text h2 {
    font-size: 22px;
  }

  #icon_ball {
    left: -60px;
  }

  .banner__icon-player {
    right: -20px;
  }
}

@media (max-width: 920px) {
  .text__information-cover {
    width: 100%;
  }

  .media__cover {
    display: none;
  }

  .banner {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }

  #icon_player {
    display: none;
  }

  #icon_ball {
    left: 0;
  }

  .banner__text {
    width: 100%;
    margin-top: -100px;
  }
}

/* seccion F O O T E R */
footer{
  width: 100%;
  padding: 40px 0px;
  background-color: black;
  background-size: cover;
}

.container__footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

.box__footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.box__footer .logo img{
  width: 180px;
}

.box__footer .terms{
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: white;
  font-size: 18px;
}

.box__footer h2{
  color: white;
  margin-bottom: 30px;
  font-weight: 700;
}

.box__footer a{
  margin-top: 10px;
  color: white;
  font-weight: 600;
}

.box__footer a:hover{
  opacity: 0.8;
}

.box__footer a .fab{
  font-size: 20px;
}

.box__copyright{
  max-width: 1200px;
  margin: auto;
  text-align: center;
  padding: 0px 40px;
}

.box__copyright p{
  margin-top: 20px;
  color: white;
}

.box__copyright hr{
  border: none;
  height: 1px;
  color: white;
}
/* TARJETA JUGADORES */
.container_card {
  width: 100%;
  max-width: 1200px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}

.container_card .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}

.container_card .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container_card .card img {
  width: 330px;
  height: 220px;
}

.container_card .card h4 {
  font-weight: 600;
}

.container_card .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.container_card .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}



@media (min-width: 250px)  and (max-width: 870px) {
  .container_card {
    width: 90%;
    height: auto;
    max-height: 100px;
  }

  .container_card .card {
    width: 100%;
    height: auto;
    margin: 12px 0;
    position: relative;
  }

  .container_card .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270%;
    object-fit: cover;
  }

  .container_card .card h4 {
    font-size: 14px;
  }

  .container_card .card p {
    font-size: 12px;
  }
}






@media (min-width: 870px) and (max-width: 1250px) {
  .container_card {
    width: 80%;
    height: auto;
    max-height: 450px;
  }

  .container_card .card {
    width: 60%;
    height: auto;
    margin: 10px 0;
    position: relative;
  }

  .container_card .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    object-fit: cover;
  }

  .container_card .card h4 {
    margin-left: 210px;
    font-size: 18px;
  }

  .container_card .card p {
    float: right;
    margin-left: 210px;
    font-size: 13px;
  }

  .container_card .card a {
    float: right;
    margin-left: 210px;
    font-size: 16px;
  }
}










.dropdown {
  position: relative;
  width: 150px;
  top: 30%;
}

.dropdown-name {
  font-size: 16px;
  text-decoration: none;
  color: #000;
  transition: opacity 300ms;
}
.menu span:hover {
  opacity: 0.6;
}

.dropdown-active #dropdown-btn {
  border-radius: 25px 25px 10px 10px;
}

.dropdown-active .dropdown-menu-box {
  visibility: visible;
  margin-top: 15px;
  opacity: 1;
}

.dropdown-menu-box {
  position: absolute;
  left: 0;
  margin-top: 75px;
  border-radius: 10px 10px 25px 25px;
  background-color: #000000;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.862);
  visibility: hidden;
  transition: 0.3s ease;
  opacity: 0;
  width: auto;
  /* Ajustar el ancho automáticamente */
}

.dropdown-menu {
  margin: 0;
  padding: 25px;
  list-style: none;
}

.dropdown-item {
  position: relative;
  font-size: 14px;
  /* Aumentar el tamaño de fuente para una mejor legibilidad */
  letter-spacing: 0;
  text-align: left;
  color: #69f1a1;
  background-color: none;
  border-radius: 8px 8px 13px 13px;
  padding: 10px 20px;
  margin: 5px 0;
  transition: 0.3s ease;

  /* Mostrar elementos en lista vertical */
}

.dropdown-item:hover {
  letter-spacing: 1.5px;

  background: #69f1a1;
  color: #000;
}
